# Visal Studio Code
.vscode/

# Build artifacts
target/
**/*.rs.bk

# macOS specific files
.DS_Store

# Log files
*.log

# User-specific files
saves/
screenshots/
state.json
roms/
config.json
*.hemu
*.bin
^.com
temp.img

# Debugging files
*trace.txt
*.err
*.out
*err.txt
*out.txt
debug_log*
