[workspace]
resolver = "2"
members = [
  "crates/core",
  "crates/systems/nes",
  "crates/systems/gb",
  "crates/systems/atari2600",
  "crates/systems/pc",
  "crates/systems/snes",
  "crates/systems/n64",
  "crates/frontend/gui",
]
